<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edgepoint.skadoosh1_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/skadoosh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/skadoosh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".QuestionForm_new"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NetworkMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver> <!-- <activity android:name=".NetworkMonitor" /> -->
        <activity android:name=".SearchProfileActivity" />
        <activity android:name=".BarangayForm" />
        <activity android:name=".PrecinctForm" />
        <activity android:name=".VotersForm" />
        <activity android:name=".UploadToServer" />
        <activity android:name=".GraphMenu" />
        <activity android:name=".GraphActivity3" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".GraphActivity2" />
        <activity android:name=".DownloadBatch" />
        <activity android:name=".RecyclerSearchView" />
        <activity android:name=".DataManagement" />
        <activity android:name=".EndCanvassing" />
        <activity android:name=".DownloadFromServer" />
        <activity android:name=".QuestionForm_QuezProv" />
        <activity android:name=".CityForm" />
        <activity android:name=".DistrictLevelGraph" />
        <activity android:name=".Information_Voter" />
        <activity
            android:name=".GenerateGraphView"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mGenerateGraphView"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Graph_Kagawad"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Graph_KagawadM"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LineGraph"
            android:screenOrientation="landscape" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Main2Activity" />
    </application>

</manifest>